
/* CONTAINER PRINCIPAL */
#container__login {
    width: 100vw;
    max-width: 1920px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;



    background-image: url(../../assets/imgs/Login/bg-login-fundo.png);
    background-size: cover;

    /* background:linear-gradient(290deg, #ff902b 12%, #f9d9aaee 57%, #2f2105 100%); */



}


/* CONTAINER SECUNDÁRIO  */
.login__box {
    width: 80%;
    height: 90%;
    display: flex;


    border-radius: 40px;

    background: #f9d9aa75;
}


/* CONTAINER ESQUERDO FORMULÁRIO */
.box__left--login{
    width: 50%;
    height: 100%;
    padding: 42px;
    display: flex;
}


.form-conteudo {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.form-conteudo>form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.form-conteudo>form>input {
    height: 2.5rem;
    border-radius: 15px;
    outline: none;
    border: none;
    padding: 0 .5rem;
}

.conteudo-info-login {
    font-size: 1.2em;
    color: var(--primary-color);
    font-weight: bold;
}


/* BOTÃO */

.form-btn-contain {
    width: 100%;
    margin-top: 2rem;
}

.btn-form {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;

    background: var(--primary-color);
    cursor: pointer;
}

.contain-criar-conta {
    margin-top: .5rem;
    text-align: center;
    font-size: .9em;
}



.box__form {
    width: 80%;
    height: 550px;
    padding: 42px;

    border-radius: 20px;



    background: #3d2e186e;
}


.form-title {
    font-size: 1.5em;
}

.form-title>h2 {
    padding-top: 1rem;
    color: var(--primary-color);
}



.container-login-right {
    width: 50%;
    height: 100%;

}

.login-right-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-login {
    max-width: 90%;
    border-radius: 50%;
}



/* RESPONSIVIDADE */


@media (max-width: 1560px) {
    .login__box {
        width: 90%;
    }

    .box__form {
        width: 100%;
        /* margin-top: 7rem; */
    }
}

@media (max-width: 1024px) {

    #container__login {
        background-image: url(../../assets/imgs/Login/bg-fundo-tablet.png);
        background-size: cover;
    }

    .login__box {
        width: 90%;
    }

    .box__form {
        width: 600px;
        margin-top: 13rem;
    }
}

@media (max-width: 481px) {

    #container__login {
        background-image: url(../../assets/imgs/Login/bg-fundo-mobile.png);
        background-size: cover;
    }

    .login__box {
        width: 100%;
        height: 80%;
        margin: 1rem;
    }

    .box__form {
        width: 100vw;
        margin-top: 4rem;
        margin: 3rem 3rem;
    }

    .container-login-right {
       display: none;
    }
}

@media (max-width: 431px) {

    #container__login {
        background-image: url(../../assets/imgs/Login/bg-fundo-mobile.png);
        background-size: cover;
    }

    .login__box {
        width: 100%;
        height: 80%;
        margin: 1rem;
    }

    .box__form {
        width: 100vw;
        margin-top: 4rem;
        margin: 3rem 1.5rem;
    }

    .container-login-right {
       display: none;
    }
}

@media (max-width: 394px) {
    #container__login {
        background-image: url(../../assets/imgs/Login/bg-fundo-mobile.png);
        background-size: cover;
    }

    .login__box {
        width: 100%;
        height: 80%;
        margin: 1rem;
    }

    .box__form {
        width: 100vw;
        height: 450px;
        margin-top: 4rem;
        margin: 0 .3rem;
    }

    .container-login-right {
       display: none;
    }
}

