.contain-delivery {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15rem ;
}


/* ESTILIZAÇÃO DO TITULO */

.delivery-title {
    width: 100vw;
    height: 20vh;
    font-size: large;
    padding:2rem 11rem;
}

.title-border {
    border-bottom: 3px solid orange;
}


/* FIM DA ESTILIZAÇÃO */

/* ESTILIZAÇÃO DOS COMPONENTS */

.delivery-elements {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}


/* FIM DA ESTILIZAÇÃO */



/* ESTILIZAÇÃO DA DIV DOS COMPONENTES DE DELIVERY */

.elements-gp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.elements-gp img {
    width: 10rem;
}



/* MEDIA QUERYS */


@media (max-width: 1366px) {

    .contain-delivery {
        height: 80vh;
    }

    .elements-gp img {
        width: 7rem;
    }

    .elements-gp>h3 {
        font-size: 1.4em;
    }
    .elements-gp>p {
        font-size: 1.2em;
    }


}
@media (max-width: 1024px) {
    .elements-gp img {
        width: 10rem;
    }

    .elements-gp>h3 {
        font-size: 1.6em;
    }
    .elements-gp>p {
        font-size: 1.2em;
    }

    .contain-delivery {
        margin-top: 45rem;
    }
    .delivery-title {
        font-size: large;
        text-align: center;
    }
}
@media (max-width: 418px) {

    .delivery-elements {
        display: contents;
        flex-direction: block;
        justify-content: center;
    }


    .elements-gp img {
        width: 10rem;
    }

    .elements-gp>h3 {
        font-size: 1.6em;
    }
    .elements-gp>p {
        font-size: 1.2em;
    }

    .contain-delivery {
        margin-top: 60rem;
        display: block;
    }
    .delivery-title {
        width: 100%;
        font-size: large;
        text-align: center;
        padding: 0;
    }
}
@media (max-width: 363px) {
    .elements-gp img {
        width: 8rem;
    }

    .elements-gp>h3 {
        font-size: 1.4em;
    }
    .elements-gp>p {
        font-size: 1em;
    }

}
