.contain-delivery {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15rem 0;
    background-image: url(../../assets//imgs/Delivery/bg-delivery.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


/* ESTILIZAÇÃO DO TITULO */

.delivery-title {
    width: 100vw;
    height: 20vh;
    font-size: large;
    padding:2rem 11rem;
}

.title-border {
    border-bottom: 3px solid orange;
}


/* FIM DA ESTILIZAÇÃO */

/* ESTILIZAÇÃO DOS COMPONENTS */

.delivery-elements {
    width: 100%;
    display: flex;
    justify-content: space-around;

}


/* FIM DA ESTILIZAÇÃO */



/* ESTILIZAÇÃO DA DIV DOS COMPONENTES DE DELIVERY */

.elements-gp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.elements-gp img {
    width: 10rem;
}



/* MEDIA QUERYS */

@media (max-width: 1366px) {}
@media (max-width: 1024px) {
    .delivery-elements {
        flex-direction: column;
        text-align: center;

    }

    .contain-delivery {
        margin: 65rem 0rem;
        background-size: cover;
    }

    .delivery-title {
        font-size: x-large;
        padding: 0rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 767px) {
    .delivery-elements {
        flex-direction: column;
        text-align: center;
        transform: translateY(-2rem);
    }

    .contain-delivery {
        margin: 85rem 0rem;
        flex-direction: row;
        background-size: cover;
    }

    .delivery-title {
        font-size: large;
        padding: 0rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 418px) {
    .delivery-elements {
        flex-direction: column;
        text-align: center;
        transform: translateY(-2rem);
    }

    .contain-delivery {
        margin: 85rem 0rem;
        flex-direction: row;
        background-size: cover;
    }

    .delivery-title {
        font-size: large;
        padding: 0rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 320px) {}
