/* IMPORTES */
@import url(./BannerStyle.css);
@import url(./DeliveryStyle.css);
@import url(./InputHeader.css);












.container-cabecalho {
    width: 100vw;
    height: 60rem;
    background: var(--primary-color);
    z-index: 999;
}
.cabecalho-nav-bar {
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
}
.nav-bar-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.nav-bar-logo {
    width: 12rem;
    height: 80px;
}

/* ESTILIZAÇÃO DAS CORES DA BARRA DE NAVEGAÇÃO */
.content-sobre {
    color: var(--secundary-color);
}

/* ESTILIZAÇÃO DA LISTA DE NAVEGAÇÃO */
.gp-list-nav-bar{
    text-decoration: none;
    font-weight: bold;
    margin: 0 1rem;
}

/* FIM DA ESTILIZAÇÃO */


/* ESTILIZAÇÃO DA DIV DO BOTÃO */

.btn-container-div {
    width: 40%;
    display: flex;
    align-self: flex-start;
    justify-content: center ;
}

/* FIM DA ESTILIZAÇÃO */

/* ESTILIZAÇÃO DOS COMPONENTS DOS FAVORITOS */
.container-favorites {
    position: relative;
    height: 50vh;
    margin: 0 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-favorites::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(-5rem, -5rem);
    background-image: url(../../assets/svg/coffe-particles.svg);
    z-index: 1;
}

.layout-container-favorites {
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


/* .favorites-bg {
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url(../../assets//svg/vetor-components.svg);
    background-repeat: no-repeat;
    background-size: cover;
} */



/* FIM DA ESTILIZAÇÃO */

/* MEDIA QUERYS */

@media (max-width: 1024px) {
    .container-cabecalho {
        height: 63rem;
    }

    .cabecalho-nav-bar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-bar-content {
        gap: .5rem;
    }

    .btn-container-div {
        width: 80%;

    }

    .favorites-components {
        z-index: 996;
    }


    .container-favorites {
        transform: none;

    }
    .container-favorites::after {
        transform: none;
        width: 100%;
        display: none;

    }

    .favorites-bg {
       background: none;
    }

    .layout-container-favorites {
        flex-direction: column;
        margin-top: 93rem;
    }



}
@media (max-width: 767px) {}
@media (max-width: 418px) {}
@media (max-width: 320px) {}
