/* IMPORTES */
@import url(./BannerStyle.css);
@import url(./DeliveryStyle.css);
@import url(./InputHeader.css);
@import url(./SobreStyle.css);
@import url(./ProdutosStyle.css);







/* ESTILIZAÇÃO DA DIV DO BOTÃO */

.btn-container-div {
    width: 40%;
    display: flex;
    align-self: flex-start;
    justify-content: center ;
}

/* FIM DA ESTILIZAÇÃO */

/* ESTILIZAÇÃO DOS COMPONENTS DOS FAVORITOS */
.container-favorites {
    position: relative;
    height: 50vh;
    margin: 0 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-favorites::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 1rem;
    left: 0;
    transform: translate(-5rem, -5rem);
    background-image: url(../../assets/svg/coffe-particles.svg);
    z-index: 1;
    opacity: .5;
}

.layout-container-favorites {
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.favorites-titles {
    width: 100vw;
    height: 20vh;
    z-index: 996;
    margin: 2rem;
    padding-left: 2rem;
}

.title-borde {
    border-bottom: 4px solid orange;
}

/* .favorites-bg {
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url(../../assets//svg/vetor-components.svg);
    background-repeat: no-repeat;
    background-size: cover;
} */



/* FIM DA ESTILIZAÇÃO */

/* MEDIA QUERYS */

@media (max-width: 1366px) {
    .favorites-components {
        width: 100%;
        z-index: 996;
    }

    .favorites-bg {
        width: 100%;
    }

}


@media (max-width: 1024px) {

    .container-favorites {
        /* transform: none; */
        margin: 0;
        margin-top: 65rem;

    }

    .layout-container-favorites {
        width: 100%;
        flex-direction: column;

    }

}

@media (max-width: 767px) {
    .title-principal h2 {
        font-size: 1.6em;
        padding: 1rem 0;
    }


}
@media (max-width: 418px) {

    /* .container-favorites {
        margin: 0;
        margin-top: 80rem;
    } */



}
@media (max-width: 360px) {
    /* .container-favorites {
        margin: 0;
        margin-top: 80rem;
    } */
}
